@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* p in poem hgroup */
[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

/* breaks after poem */
article,
section{
	break-after: page;
}

/* poem footer */
[epub|type~="z3998:poem"] footer{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

/* stanza */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

/* poetry span */
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}
